<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python/blob/main/Practice_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=145
original_num=num
sum_of_fact_last_digit=0
while num>0:
  last_digit=num%10
  num//=10
  last_digit_fact=1
  for i in range(1,last_digit+1):
    last_digit_fact*=i
  sum_of_fact_last_digit+=last_digit_fact

if sum_of_fact_last_digit==original_num:
  print("Strong Number")
else:
  print("Not a Strong Number")

Strong Number

In [ ]:
for i in range(1,1000000):
  num=i
  original_num=num
  sum_of_fact_last_digit=0
  while num>0:
    last_digit=num%10
    num//=10
    last_digit_fact=1
    for i in range(1,last_digit+1):
      last_digit_fact*=i
    sum_of_fact_last_digit+=last_digit_fact

  if sum_of_fact_last_digit==original_num:
    print(original_num)

1
2
145
40585

In [ ]:
num=153
original_num=num
last_digit_cube_sum=0
while num>0:
  last_digit=num%10
  num//=10
  last_digit_cube_sum+=last_digit**3
if last_digit_cube_sum==original_num:
  print("Armstrong Numbers")
else:
  print("Not an Armstrong Numbers")

Armstrong Numbers

In [ ]:
for i in range(100,1000):
  num=i
  original_num=num
  last_digit_cube_sum=0
  while num>0:
    last_digit=num%10
    num//=10
    last_digit_cube_sum+=last_digit**3
  if last_digit_cube_sum==original_num:
    print(original_num)

153
370
371
407

In [ ]:
num=input("Enter the number: ")
even_num_sum=0
odd_num_sum=0
for i in num:
  if int(i)%2==0:
    even_num_sum+=int(i)
  else:
    odd_num_sum+=int(i)

print(f"even digit sum is {even_num_sum} and odd digit sum is {odd_num_sum}")

Enter the number: 123456789
even digit sum is 20 and odd digit sum is 25

In [ ]:
num=145
original_num=num
dict1={}
sum=0
while num>0:
  last_digit=num%10
  num//=10
  sum+=last_digit
  dict1[original_num]=sum

dict1.values()

dict_values([10])

In [ ]:
for i in "123,456,12,354,487".split(sep=","):
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
for i in [1,2,3,4]:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#number=list(input("Enter the number seperated by comma: ").split(sep=","))
number=[235, 78, 901, 456, 1234]
dict1={}
for i in number:
  num=int(i)
  # num=145
  original_num=num
  sum=0
  while num>0:
    last_digit=num%10
    num//=10
    sum+=last_digit
    dict1[original_num]=sum
dict1.items()

dict_items([(235, 10), (78, 15), (901, 10), (456, 15), (1234, 10)])

In [ ]:
min(dict1,key=dict1.get)

235

In [ ]:
data = [(235, 10), (78, 15), (901, 10), (456, 15), (1234, 10)]

max_value = max(x[1] for x in data)

result = [x for x in data if x[1] == max_value]
print(result)

[(78, 15), (456, 15)]

In [ ]:
# for i,j in dict1.items():
#   list1=[]
#   if j not in list1:
#     list1.append(j)
#   elif j in list1:
#     for i in list1:
#       if j>i

In [ ]:
data = [(235, 10), (78, 15), (901, 10), (456, 15), (1234, 10)]
maxV=max([x[1] for x in data])
[i for i in data if i[1]==maxV]

[(78, 15), (456, 15)]

In [ ]:
import random
comp_num=random.randint(1,100)
# comp_num=12
user_num=int(input("Enter the number for winning the 1 crore: "))
count=0
while comp_num !=user_num:
    if comp_num>user_num:
        print("Wrong answer guess heigher")
    elif comp_num<user_num:
        print("Wrong answer guess lower")
    user_num=int(input("Enter again: "))
    count+=1
print("wow right choice you won 1 crore.")
print(f"correct number was {comp_num} and your choice is {user_num}")
print(f"you took {count} attempts")
print("Take it for them who is giving i don`t have that much amount.")

Enter the number for winning the 1 crore: 80
Wrong answer guess lower
Enter again: 60
Wrong answer guess lower
Enter again: 50
Wrong answer guess lower
Enter again: 40
Wrong answer guess lower
Enter again: 30
Wrong answer guess lower
Enter again: 20
Wrong answer guess heigher
Enter again: 25
Wrong answer guess lower
Enter again: 22
wow right choice you won 1 crore.
correct number was 22 and your choice is 22
you took 7 attempts
Take it for them who is giving i don`t have that much amount.

In [ ]:
num=26

if num%2==0:
  print("Even number")
else:
  print("Odd number")

Even number

In [ ]:
def Even_Odd(num):
  if num%2==0:
    print("Even number")
  else:
    print("Odd number")

In [ ]:
Even_Odd(5)

Odd number

In [ ]:
def Sum_of_num(num1=0,num2=0):
  print(num1+num2)

In [ ]:
Sum_of_num(2)

2

In [ ]:
def power_of_num(num1,num2):
  print(num1**num2)

In [ ]:
power_of_num(num2=3, num1=2)

8

In [ ]:
power_of_num(3,2)

In [ ]:
power_of_num(2,3)

8

In [ ]:
user_input=input("Enter the num seperated by comma: ").split(sep=",")
user_input=[int(i) for i in user_input]
user_input

Enter the num seperated by comma: 12,3

[12, 3]

In [ ]:
sum=0
for i in user_input:
  sum+=i
print(f"Sum of the element of list is {sum}")

Sum of the element of list is 15

In [ ]:
def list_sum(list1):
  list1=input("Enter the num seperated by comma: ").split(sep=",")
  list1=[int(i) for i in list1]
  sum=0
  for i in list1:
    sum+=i
  print(f"Sum of the element of list is {sum}")

In [ ]:
list_sum("a")

Enter the num seperated by comma: 12,3,5
Sum of the element of list is 20

In [ ]:
def list_sum():
  list1=input("Enter the num seperated by comma: ").split(sep=",")
  list1=[int(i) for i in list1]
  sum=0
  for i in list1:
    sum+=i
  print(f"Sum of the element of list is {sum}")

In [ ]:
list_sum()

Enter the num seperated by comma: 12,8
Sum of the element of list is 20

In [3]:
numbers = [1, 2, 3]
print("Original list:", numbers)
# 1. append()-add single element at the end
numbers.append(4)
print("After append(4):", numbers)

Original list: [1, 2, 3]
After append(4): [1, 2, 3, 4]