<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python/blob/main/try_0902_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string1='hello'
string2="Hello World"
string3='''Hi what you are doing tomorrow.
We can go for a movie if you dont have any problem.
'''
print(string1)
print(string2)
print(string3)

hello
Hello World
Hi what you are doing tomorrow.
We can go for a movie if you dont have any problem.

In [ ]:
#by str()

fourth=str(12345)
fourth

'12345'

In [ ]:
text="Python"
print(text[0])
print(text[1])
print(text[2])
print(text[3])
print(text[4])
print(text[5])

P
y
t
h
o
n

In [ ]:
print(text[-1])
print(text[-2])
print(text[-3])
print(text[-4])
print(text[-5])
print(text[-6])

n
o
h
t
y
P

In [ ]:
for i in text:
  print(i)

P
y
t
h
o
n

In [ ]:
for i in range(len(text)):
  print(text[i])

P
y
t
h
o
n

In [ ]:
text="Hello World"

print(text[0:2])
print(text[0:3])
print(text[0:5:2])

print(text[:])
print(text[::2])
print(text[::2])

print(text[5:0])
print(text[5:0:2])
print(text[6:0:-1])


print(text[::-1])

He
Hel
Hlo
Hello World
HloWrd
HloWrd


W olle
dlroW olleH

In [ ]:
first_name="Arjun"
last_name="Gangwar"

full_name=first_name+last_name
print(full_name)


full_name=first_name+" "+last_name
print(full_name)

ArjunGangwar
Arjun Gangwar

In [ ]:
print("*"*20)
print("hello!"*8)

********************
hello!hello!hello!hello!hello!hello!hello!hello!

In [ ]:
sentence="I" + "Love" + "Python"+"Programming"
print(sentence)

sentence="I" + " Love" + " Python"+" Programming"
print(sentence)

ILovePythonProgramming
I Love Python Programming

In [ ]:
text_str="Hello"
list_str=list("Hello")
print(text_str,type(text_str),id(text_str))
print(list_str,type(list_str),id(list_str))

Hello <class 'str'> 137489329715360
['H', 'e', 'l', 'l', 'o'] <class 'list'> 137489329920448

In [ ]:
# text_str[0]="h"
list_str[0]="h"
list_str

['h', 'e', 'l', 'l', 'o']

In [ ]:
print(list_str,type(list_str),id(list_str))

['h', 'e', 'l', 'l', 'o'] <class 'list'> 137489329920448

In [ ]:
new_text="h"+text_str[1:]
new_text
print(new_text,type(new_text),id(new_text))
print(text_str,type(text_str),id(text_str))

hello <class 'str'> 137489329702304
Hello <class 'str'> 137489329715360

In [ ]:
sec_text=text_str.replace("H","K")
print(sec_text,type(sec_text),id(sec_text))

Kello <class 'str'> 137489329702640

In [ ]:
for i in text:
  print(f"text[len(text{i})]{i}")

text[len(textH)]H
text[len(texte)]e
text[len(textl)]l
text[len(textl)]l
text[len(texto)]o
text[len(text )]
text[len(textW)]W
text[len(texto)]o
text[len(textr)]r
text[len(textl)]l
text[len(textd)]d

In [ ]:
for i in text:
  print(text[i])

TypeError: string indices must be integers, not 'str'

In [ ]:
for char in text[::2]:
  print(f"{char}")

In [ ]:
# 5. Membership Operations
quote = "To be or not to be"
print("’be’ in quote:", "be" in quote) # True
print("’python’ in quote:", "python" in quote) # False
print("’BE’ in quote:", "BE" in quote) # False (case-sensitive)
print("’to’ not in quote:", "to" not in quote) # True (case-sensitive)

In [ ]:
s="Hi what is use case of this function."
for ch in s:
  print(s)

In [ ]:
str1="EEducation"
index_range=len(str1)-1
reverse=""
while index_range>=0:
  reverse+=str1[index_range]
  index_range-=1
print(reverse)

In [ ]:
s="Hi what is use case of this function"
inside_word=False
space_count=0
for ch in s:
  if ch!=" " and not inside_word:
    space_count+=1
    inside_word=True
  elif ch==" ":
    inside_word=False

print(f"Word count: ",space_count)

Word count:  8

In [ ]:
s="Hi what is use case of this function"
for ch in s:
  print(ch)

H
i

w
h
a
t

i
s

u
s
e

c
a
s
e

o
f

t
h
i
s

f
u
n
c
t
i
o
n

In [ ]:
for i in "range":
  print(i)

r
a
n
g
e

In [ ]:
i=11
while i >= 0:
  print(i)
  i-=1

11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
dict1={"a":1,"b":2,"c":3,"d":4}

print(dict1["a"])

dict1["e"]=4
print(dict1)

dict1["e"]=dict1["e"]+8
print(dict1)

1
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 12}

In [ ]:
text = "Hi What are you doing tomorrow."

frequency = {}

for ch in text:
  if ch in frequency:
    frequency[ch]+=1
  else:
    frequency[ch]=1

print(frequency)

{'H': 1, 'i': 2, ' ': 5, 'W': 1, 'h': 1, 'a': 2, 't': 2, 'r': 3, 'e': 1, 'y': 1, 'o': 5, 'u': 1, 'd': 1, 'n': 1, 'g': 1, 'm': 1, 'w': 1, '.': 1}

In [ ]:
for key , value in frequency.items():
  print(key, value)

H 1
i 2
  5
W 1
h 1
a 2
t 2
r 3
e 1
y 1
o 5
u 1
d 1
n 1
g 1
m 1
w 1
. 1

In [ ]:
from collections import Counter
text2 = "Hi What are you doing tomorrow."

Counter(text2)

Counter({'H': 1,
         'i': 2,
         ' ': 5,
         'W': 1,
         'h': 1,
         'a': 2,
         't': 2,
         'r': 3,
         'e': 1,
         'y': 1,
         'o': 5,
         'u': 1,
         'd': 1,
         'n': 1,
         'g': 1,
         'm': 1,
         'w': 1,
         '.': 1})

In [ ]:
# length of string

str1="What are you doing tomorrow"
print(len(str1))

count=0
for ch in str1:
  count+=1
print(count)

27
27

In [ ]:
# reverse the string
str1="What are you doing tomorrow"
empty=""
for ch in str1:
  empty+=ch
print(empty)

What are you doing tomorrow

In [ ]:
for i in range (len(str1)-1, -1,-1):
  print(i)

26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# reverse the string
str1="What are you doing tomorrow"
Rev_str=""
for i in range (len(str1)-1, -1,-1):
  ch=str1[i]
  Rev_str+=ch
print(Rev_str)

worromot gniod uoy era tahW

In [ ]:
# palindrome check
# reverse the string
str1="What are you doing tomorrow"
Rev_str=""
for i in range (len(str1)-1, -1,-1):
  ch=str1[i]
  Rev_str+=ch
if str1==Rev_str:
  print("palindrome")
else:
  print("Not palindrome")

Not palindrome

In [ ]:
# count word in sentance
str1="What are you doing tomorrow"
space_count=1

for ch in str1:
  if ch ==" ":
    space_count+=1
print(space_count)

5

In [ ]:
str1="What are you doing tomorrow"
space_count=0
inside_word=False
for ch in str1:
  if ch !=" " and not inside_word:
    space_count+=1
    inside_word=True
  elif ch == " ":
    inside_word=False
print(space_count)

5

In [ ]:
# count vowels
text="Education"
list1=list("aeiou")
list2=list("AEIOU")
# print(list1,list2)
v_count=0
for ch in text:
  if ch in list1 or list2:
    v_count+=1
print(v_count)

4

In [ ]:
# frequency of characters
str1="What are you doing tomorrow"
freq={}
for ch in str1:
  if ch in freq:
    freq[ch]+=1
  else:
    freq[ch]=1

print(freq)
print(freq.items())
for key , value in freq.items():
  print(key, value)

{'W': 1, 'h': 1, 'a': 2, 't': 2, ' ': 4, 'r': 3, 'e': 1, 'y': 1, 'o': 5, 'u': 1, 'd': 1, 'i': 1, 'n': 1, 'g': 1, 'm': 1, 'w': 1}
dict_items([('W', 1), ('h', 1), ('a', 2), ('t', 2), (' ', 4), ('r', 3), ('e', 1), ('y', 1), ('o', 5), ('u', 1), ('d', 1), ('i', 1), ('n', 1), ('g', 1), ('m', 1), ('w', 1)])
W 1
h 1
a 2
t 2
  4
r 3
e 1
y 1
o 5
u 1
d 1
i 1
n 1
g 1
m 1
w 1

In [ ]:
freq.items()

dict_items([('W', 1), ('h', 1), ('a', 2), ('t', 2), (' ', 4), ('r', 3), ('e', 1), ('y', 1), ('o', 5), ('u', 1), ('d', 1), ('i', 1), ('n', 1), ('g', 1), ('m', 1), ('w', 1)])

In [ ]:
# EXtract user name
email="arjungangwariitpkd@gmail.com"

index_position=0
for ch in email:
  index_position+=1
  if ch =="@":
    break
print(index_position)
print(f"username is: {email[:index_position-1]}")

19
username is: arjungangwariitpkd

# first non repeating character

###find the first non-repeating character

In [ ]:
str1="what are you doing tomorrow"

for ch in str1:
  if str1.count(ch) == 1:
    print(ch)
    break

h

In [ ]:
str1="what are you doing tomorrow"
i=0
while i<len(str1):
  if str1.count(str1[i])==1:
    print(str1[i])
    break
  i+=1

h

In [ ]:
str1="what are you doing tomorrow"

# Using a loop and count() method
for char in str1:
  if str1.count(char) == 1:
    print(f"The first non-repeating character is: {char}")
    break

# If prefer a while loop :
i=0
while i < len(str1):
  if str1.count(str1[i]) == 1:
    print(f"The first non-repeating character is: {str1[i]}")
    break
  i+=1

The first non-repeating character is: h
The first non-repeating character is: h

In [ ]:
# Count Uppercase, Lowercase, Digits, Special Characters

str1="ArjunGangwariitpkd@gmail.com"


upper = lower = digit = special = dot= 0

for ch in range(len(str1)):
  if "A"<=str1[ch]<="Z":
    upper+=1
  elif "a"<=str1[ch]<="z":
    lower+=1

  elif "0"<=str1[ch]<="9":
    digit+=1
  else:
    special+=1

print(upper,lower,digit,special)

2 24 0 2

In [ ]:
# Check if Two Strings are Anagrams

word1="listen"
word2="silent"
angram=True
word=None
for i in range(len(word1)):
  word=word1[i]
  if word1.count(word)==word2.count(word):
    angram=True
    continue
  else:
    angram=False

if angram:
  print("Anagram")
else:
  print("Not Anagram")

Anagram

In [ ]:
word1="listeun"
word2="silent"

angram=None
for ch in word1:
  if ch in word2:
    angram=True
  else:
    angram=False
    break

if angram:
  print("Anagram")
else:
  print("Not Anagram")

Not Anagram

In [ ]:
word1="listenq"
word2="silent"

angram=None
for ch in word1:
  if ch in word1 and ch in word2:
    angram=True
  else:
    angram=False
    break

if angram:
  print("Anagram")
else:
  print("Not Anagram")

Not Anagram

In [ ]:
s1="listen"
s2="sileny"

if len(s1)!=len(s2):
  print("Not the Angram")
else:
  is_Angram=True
  for ch in s1:
    if ch not in s2:
      is_Angram=False
      break

  if is_Angram:
    print("Angram")
  else:
    print("Not Angram")

Not Angram

### Remove all occurrences of a character from a string.

In [ ]:
# Remove all occurrences of a character from a string.

str3="Where are you going tomorrow."
new_str=""
space=" "
for ch in str3:
  if ch not in new_str or ch==" ":
    new_str+=ch
print(new_str)

Wher a you gin tmw.

# enumerate function

In [ ]:
for i,j in enumerate(str3):
  print(f"{i},{j}")

0,W
1,h
2,e
3,r
4,e
5,
6,a
7,r
8,e
9,
10,y
11,o
12,u
13,
14,g
15,o
16,i
17,n
18,g
19,
20,t
21,o
22,m
23,o
24,r
25,r
26,o
27,w
28,.

In [ ]:
for i in enumerate(str3):
  print(f"{(i)}")

(0, 'W')
(1, 'h')
(2, 'e')
(3, 'r')
(4, 'e')
(5, ' ')
(6, 'a')
(7, 'r')
(8, 'e')
(9, ' ')
(10, 'y')
(11, 'o')
(12, 'u')
(13, ' ')
(14, 'g')
(15, 'o')
(16, 'i')
(17, 'n')
(18, 'g')
(19, ' ')
(20, 't')
(21, 'o')
(22, 'm')
(23, 'o')
(24, 'r')
(25, 'r')
(26, 'o')
(27, 'w')
(28, '.')

In [ ]:
# zip() combines multiple iterables
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 21]
# Basic zip usage
zipped = zip(names, scores, ages)
print("Zipped result:", list(zipped))

Zipped result: [('Alice', 85, 20), ('Bob', 92, 22), ('Charlie', 78, 21)]

In [ ]:
# Unzipping
pairs = [("a", 1), ("b", 2), ("c", 3)]
letters, numbers = zip(*pairs)
print(f"\nLetters: {letters}")
print(f"Numbers: {numbers}")
print(type(letters), type(numbers))

Letters: ('a', 'b', 'c')
Numbers: (1, 2, 3)
<class 'tuple'> <class 'tuple'>

In [ ]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 21]

# Creating dictionaries with zip
student_dict = dict(zip(names, scores))
print(f"\nStudent dictionary: {student_dict}")

Student dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [ ]:
student_dict.items()

dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78)])

In [ ]:
for key, value in student_dict.items():
  print(key,value)

Alice 85
Bob 92
Charlie 78

In [ ]:
# zip() combines multiple iterables
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 21]
# Basic zip usage
zipped = zip(names, scores, ages)
print("Zipped result:", list(zipped))
# Practical use: Calculate weighted scores
weights = [0.3, 0.4, 0.3]
grades = ["A", "B", "C"]
for name, score, weight, grade in zip(names, scores, weights, grades):
  weighted = score * weight
  print(f"{name}: Score={score}, Weight={weight}, Weighted={weighted:.1f}, Grade={grade}")

Zipped result: [('Alice', 85, 20), ('Bob', 92, 22), ('Charlie', 78, 21)]
Alice: Score=85, Weight=0.3, Weighted=25.5, Grade=A
Bob: Score=92, Weight=0.4, Weighted=36.8, Grade=B
Charlie: Score=78, Weight=0.3, Weighted=23.4, Grade=C

In [ ]:
# 6. Without parentheses (tuple packing)
packed = 1, 2, 3, 4 # This creates a tuple!
print("Packed tuple:", packed, type(packed))

Packed tuple: (1, 2, 3, 4) <class 'tuple'>

In [ ]:
tup=1,2
print(tup,type(tup))

(1, 2) <class 'tuple'>

In [ ]:
# You can modify mutable objects inside tuples
mixed = (1, 2, [3, 4, 5])
print("\nOriginal mixed:", mixed, id(mixed))
mixed[2][0] = 99 # This works because list is mutable
print("After modifying list:", mixed ,id(mixed))

Original mixed: (1, 2, [3, 4, 5]) 140693608288256
After modifying list: (1, 2, [99, 4, 5]) 140693608288256

In [ ]:
numbers = (5, 2, 8, 1, 9, 3, 5, 5)
# 1. count()-count occurrences
count_5 = numbers.count(5)
print(f"Count of 5: {count_5}") # 3
# 2. index()-find first occurrence
index_9 = numbers.index(9)
print(f"Index of 9: {index_9}") # 4

Count of 5: 3
Index of 9: 4

In [ ]:
n = 5
row = 1
while row <= n:
    col = 1
    while col <= n:
        if row == 1 or row == n or col == 1 or col == n:
            print("*", end="")
        else:
            print(" ", end="")
        col = col + 1
    print()  # New line
    row = row + 1

In [ ]:
str = "madam"
is_palindrome = 1 # True
length = 0

# Find length
for ch in str:
  length = length + 1

# Check palindrome
i = 0
j = length- 1
while i < j:
  if str[i] != str[j]:
    is_palindrome = 0 # False
  break
  i = i + 1
  j = j- 1

if is_palindrome == 1:
  print(str, "is a palindrome")
else:
  print(str, "is not a palindrome")

madam is a palindrome

In [ ]:
# string = input("Enter string: ")
string ="madam"
rev_string = ""
for ch in string:
    rev_string = ch + rev_string

if string == rev_string:
    print(str, "is a palindrome")
else:
    print(str, "is not a palindrome")

madam is a palindrome

In [1]:
# 5. Copying lists (shallow copy)
original = [1, 2, [3, 4]]
copy1 = original.copy() # Shallow copy
copy2 = original[:] # Another way (slice copy)
copy3 = list(original)

In [3]:
print(id(original),id(copy1),id(copy2),id(copy3))

140341557912832 140341557917056 140341557913280 140341557947840

In [4]:
# Modifying nested list affects both!
original[2][0] = 99
print(f"\nAfter modifying nested list:")
print(f"Original: {original}")
print(f"Copy: {copy1}")

After modifying nested list:
Original: [1, 2, [99, 4]]
Copy: [1, 2, [99, 4]]